
{include file="public/header" /}
<!-- 中部开始 -->
<div class="wrapper">
    {include file="public/left" /}
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <blockquote class="layui-elem-quote">
                首次登录需要重置密码!
            </blockquote>
            <form class="layui-form xbs" method="post" action="{:url('admin/index/updatepw')}">
                <div class="layui-form-pane" style="text-align: center;">
                    <div class="layui-form-item" style="display: inline-block;">
                        <label class="layui-form-label xbs768">原密码</label>
                        <div class="layui-input-inline xbs768">
                            <input type="password" class="layui-input" lay-verify="required" placeholder="原密码验证" name="old_passwd">
                        </div>
                    </div>

                </div>
                <div class="layui-form-pane" style="text-align: center;">
                    <div class="layui-form-item" style="display: inline-block;">
                        <label class="layui-form-label xbs768">新密码</label>
                        <div class="layui-input-inline xbs768">
                            <input type="password" class="layui-input" lay-verify="required" placeholder="字母和数字组合,不小于8位" name="new_passwd1">
                        </div>
                    </div>

                </div>
                <div class="layui-form-pane" style="text-align: center;">
                    <div class="layui-form-item" style="display: inline-block;">
                        <label class="layui-form-label xbs768">重复密码</label>
                        <div class="layui-input-inline xbs768">
                            <input type="password" class="layui-input"  lay-verify="required" placeholder="字母和数字组合,不小于8位" name="new_passwd2">
                        </div>
                    </div>

                </div>
                <div class="layui-form-pane" style="text-align: center;">
                    <div class="layui-form-item" style="display: inline-block;">
                        <button class="layui-btn" lay-submit="" >提交</button>

                    </div>

                </div>

            </form>

            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<!-- 中部结束 -->

{include file="public/footer" /}

