{include file="public/header" /}
<!-- 中部开始 -->
<div class="wrapper">
    <!-- 左侧菜单开始 -->
    {include file="public/left" /}
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <blockquote class="layui-elem-quote">
                欢迎使用北大软微疫情防控系统！<span class="f-14">v1.0</span>
            </blockquote>
            <fieldset class="layui-elem-field layui-field-title site-title">
                <legend><a name="default">下载最新数据</a></legend>
            </fieldset>
            <a style="text-decoration:none"  href="{:url('officeexport/alldata')}"  target = "_blank"><i class="layui-icon"></i>下载全部后勤职工最新数据</a>

            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<!-- 中部结束 -->

{include file="public/footer" /}


