{include file="public/header_blank" /}
<!-- 中部开始 -->
<div class="wrapper">
    
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="content">
            {$msg}
            <form class="layui-form" method="post"   >
                <input type="hidden"   name="add" value="1">
                <div class="layui-form-item">
                    <label for="userid" class="layui-form-label">
                        <span class="x-red">*</span>部门名称
                    </label>
                    <div class="layui-input-inline">
                        <input type="hidden" name="add_dep_name" value='1'>
                        <input type="text" id="userid" name="dep_name" required="" lay-verify="nikename" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red"></span>
                    </div>
                </div>
              
               
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="add" lay-submit="">
                        增加
                    </button>
                </div>
            </form>
          
          
          
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<!-- 中部结束 -->
<script>

        
 </script>

{include file="public/footer" /}


