<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li class="list" current>
                <a href="{:url('index/index')}">
                    <i class="iconfont">&#xe761;</i>
                    首页
                </a>
            </li>
            <li class="list">
                <a href="{:url('organization/addorg')}">
                    <i class="iconfont">&#xe70b;</i>
                    开通新机构
                </a>
            </li>
            <li class="list">
                <a href="{:url('organization/index')}">
                    <i class="iconfont">&#xe70b;</i>
                    所有机构列表
                </a>
            </li>
            <li class="list">
                <a href="{:url('index/updatepassword')}">
                    <i class="iconfont">&#xe70b;</i>
                    修改本人密码
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- 左侧菜单结束 -->
