<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li class="list" current>
                <a href="{:url('index/index')}">
                    <i class="iconfont">&#xe761;</i>
                    首页
                </a>
            </li>
            <li class="list">
                <a href="{:url('whitelist/index')}">
                    <i class="iconfont">&#xe70b;</i>
                    白名单管理
                </a>
            </li>
            <li class="list">
                <a href="{:url('today/index')}">
                    <i class="iconfont">&#xe70b;</i>
                    今日未提交名单
                </a>
            </li>
            <li class="list">
                <a href="{:url('export/index')}">
                    <i class="iconfont">&#xe70b;</i>
                    数据下载
                </a>
            </li>
            <li class="list">
                <a href="{:url('department/index')}">
                    <i class="iconfont">&#xe70b;</i>
                    部门管理
                </a>
            </li>
            <li class="list">
                <a href="{:url('administrator/index')}">
                    <i class="iconfont">&#xe70b;</i>
                    部门管理员管理
                </a>
            </li>
            
            <li class="list">
                <a href="{:url('user/unbind')}">
                    <i class="iconfont">&#xe70b;</i>
                    小程序已绑用户
                </a>
            </li>
            <li class="list">
                <a href="{:url('index/updatepassword')}">
                    <i class="iconfont">&#xe70b;</i>
                    修改本人密码
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- 左侧菜单结束 -->
