
    <!-- 左侧菜单开始 -->
    <div class="left-nav">
        <div id="side-nav">
            <ul id="nav">
                <li class="list" current>
                    <a href="{:url('index/index')}">
                        <i class="iconfont">&#xe761;</i>
                        首页
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
              
                <li class="list"
                    {eq name="role" value="1"}  {/eq}
                    {eq name="role" value="2"}  {/eq}
                    {eq name="role" value="3"}  {/eq}
                    {eq name="role" value="4"}  style="display:none;" {/eq}
                    {eq name="role" value="5"}  style="display:none;" {/eq}
                    {eq name="role" value="6"}   {/eq}
                    {eq name="role" value="7"}  style="display:none;" {/eq}
                    {eq name="role" value="8"}  style="display:none;" {/eq}
                    {eq name="role" value="9"}  style="display:none;" {/eq}
                >
                    <a href="{:url('whitelist/index')}">
                        <i class="iconfont">&#xe70b;</i>
                        白名单管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
              
                  
                  
                 <li class="list"
                    {eq name="role" value="1"}  {/eq}
                    {eq name="role" value="2"}  {/eq}
                    {eq name="role" value="3"}  {/eq}
                    {eq name="role" value="4"}  style="display:none;" {/eq}
                    {eq name="role" value="5"}  style="display:none;" {/eq}
                    {eq name="role" value="6"}   {/eq}
                    {eq name="role" value="7"}  style="display:none;" {/eq}
                    {eq name="role" value="8"}  style="display:none;" {/eq}
                    {eq name="role" value="9"}  style="display:none;" {/eq}
                >
                    <a href="{:url('today/index')}">
                        <i class="iconfont">&#xe70b;</i>
                        今日未提交名单
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                   
                 <li class="list"
                    {eq name="role" value="1"}  {/eq}
                    {eq name="role" value="2"}  {/eq}
                    {eq name="role" value="3"}  {/eq}
                    {eq name="role" value="4"}  style="display:none;" {/eq}
                    {eq name="role" value="5"}  style="display:none;" {/eq}
                    {eq name="role" value="6"}   {/eq}
                    {eq name="role" value="7"}  style="display:none;" {/eq}
                    {eq name="role" value="8"}  style="display:none;" {/eq}
                    {eq name="role" value="9"}  style="display:none;" {/eq}
                >
                    <a href="{:url('export/index')}">
                        <i class="iconfont">&#xe70b;</i>
                        数据下载
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
              
                   
                <li class="list"
                    {eq name="role" value="1"}  {/eq}
                    {eq name="role" value="2"}  {/eq}
                    {eq name="role" value="3"}  {/eq}
                    {eq name="role" value="4"}  style="display:none;" {/eq}
                    {eq name="role" value="5"}  style="display:none;" {/eq}
                    {eq name="role" value="6"}   {/eq}
                    {eq name="role" value="7"}  style="display:none;" {/eq}
                    {eq name="role" value="8"}  style="display:none;" {/eq}
                    {eq name="role" value="9"}  style="display:none;" {/eq}
                >
                    <a href="{:url('department/index')}">
                        <i class="iconfont">&#xe70b;</i>
                        部门管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                  
                   
                  <li class="list"
                    {eq name="role" value="1"}  {/eq}
                    {eq name="role" value="2"}  {/eq}
                    {eq name="role" value="3"}  {/eq}
                    {eq name="role" value="4"}  style="display:none;" {/eq}
                    {eq name="role" value="5"}  style="display:none;" {/eq}
                    {eq name="role" value="6"}   {/eq}
                    {eq name="role" value="7"}  style="display:none;" {/eq}
                    {eq name="role" value="8"}  style="display:none;" {/eq}
                    {eq name="role" value="9"}  style="display:none;" {/eq}
                >
                    <a href="{:url('administrator/index')}">
                        <i class="iconfont">&#xe70b;</i>
                        管理员管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
              
                    <li class="list"
                    {eq name="role" value="1"}  {/eq}
                    {eq name="role" value="2"}  {/eq}
                    {eq name="role" value="3"}  {/eq}
                    {eq name="role" value="4"}  style="display:none;" {/eq}
                    {eq name="role" value="5"}  style="display:none;" {/eq}
                    {eq name="role" value="6"}   {/eq}
                    {eq name="role" value="7"}  style="display:none;" {/eq}
                    {eq name="role" value="8"}  style="display:none;" {/eq}
                    {eq name="role" value="9"}  style="display:none;" {/eq}
                >
                    <a href="{:url('tag/index')}">
                        <i class="iconfont">&#xe70b;</i>
                        标签管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
              
              
                  <li class="list"
                    {eq name="role" value="1"}  {/eq}
                    {eq name="role" value="2"}  {/eq}
                    {eq name="role" value="3"}  {/eq}
                    {eq name="role" value="4"}  style="display:none;" {/eq}
                    {eq name="role" value="5"}  style="display:none;" {/eq}
                    {eq name="role" value="6"}   {/eq}
                    {eq name="role" value="7"}  style="display:none;" {/eq}
                    {eq name="role" value="8"}  style="display:none;" {/eq}
                    {eq name="role" value="9"}  style="display:none;" {/eq}
                >
                    <a href="{:url('user/unbind')}">
                        <i class="iconfont">&#xe70b;</i>
                        已绑用户
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
              
              
 
 
                
                
                <li class="list" >
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6a3;</i>
                        个人资料
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu" style="display:none">
                        <li>
                            <a href="{:url('index/updatepassword')}">
                                <i class="iconfont">&#xe6a7;</i>
                                修改密码
                            </a>
                        </li>
                    </ul>
                </li>

                
                
            </ul>
        </div>
    </div>
    <!-- 左侧菜单结束 -->
