{include file="public/header" /}
<!-- 中部开始 -->
<div class="wrapper">
    {include file="public/left" /}
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <blockquote class="layui-elem-quote">
                数据匹配规则：白名单中的数据与人员上报库中的个人标识(学号或工号等)数据进行匹配。
                <br>
                匹配时间间隔：每隔10分钟匹配一次,匹配成功,即代表该用户今日已上报。
                <br>
                可见范围：校级可以看到白名单中全校学生数据，学院可以看到白名单中本学院数据。
                <br>

            </blockquote>


            <form class="layui-form xbs" method="post" action="" >
                <div class="layui-form-pane" style="text-align: center;">
                    <div class="layui-form-item" style="display: inline-block;">
                        <div class="layui-input-inline">
                            <input type="text" name="userid"  placeholder="请输入用户标识" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="name"  placeholder="请输入姓名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <select name="department">
                                <option value ='0'>请选择部门</option>
                                {volist name="$dep_list" id="vo" key="k"}
                                <option value = '{$vo.id}'>{$vo.dep_name}</option>
                                {/volist}
                            </select>
                        </div>
                        <div class="layui-input-inline" style="width:80px">
                            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </div>
                </div>
            </form>

            <fieldset class="layui-elem-field layui-field-title site-title">
                <legend><a name="default"> {$msg}总数({$count}人)</a></legend>
            </fieldset>

            <table class="layui-table">
                <thead>
                <tr>

                    <th>
                        序号
                    </th>
                    <th>
                        个人标识
                    </th>
                    <th>
                        姓名
                    </th>
                    <th >
                        性别
                    </th>
                    
                    <th >
                        部门名称
                    </th>
                 
                 
                    <th >
                        最后上报日期
                    </th>
      
                </tr>
                </thead>
                <tbody>
                {volist name="$userlist" id="vo" key="k"}
                <tr>
                    <td>{$k}</td>
                    <td>{$vo.userID}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.gender}</td>
                    <td>{$vo.dep_name}</td>
                    <td>{$vo.report_date}</td>
                </tr>
                {/volist}

                </tbody>
            </table>

            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<!-- 中部结束 -->

{include file="public/footer" /}


