{include file="public/header" /}
<!-- 中部开始 -->
<div class="wrapper">
    {include file="public/left" /}
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="content">
            {$msg}
            <form class="layui-form" method="post"   >
                <input type="hidden"   name="edit" value="1">
                <input type="hidden"   name="id" value="{$id}">
                <div class="layui-form-item">
                    <label   class="layui-form-label">
                        <span class="x-red">*</span>原名称
                    </label>
                    <div class="layui-input-inline">
                        <input type="text"   value="{$name}" class="layui-input" readonly="readonly">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red"> </span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="corpname" class="layui-form-label">
                        <span class="x-red">*</span>简写
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="corpname" name="corpname" required="" lay-verify="nikename" value="{$corpname}"
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red"></span>用于小程序端显示
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="corpname_full" class="layui-form-label">
                        <span class="x-red">*</span>公司全称
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="corpname_full" name="corpname_full" required="" lay-verify="nikename" value="{$corpname_full}"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="type_corpname" class="layui-form-label">
                        <span class="x-red">*</span>机构类型
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="type_corpname" name="type_corpname" required="" lay-verify="nikename"  value="{$type_corpname}"
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red"></span>用于小程序端显示(如,学校\公司\单位等)
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="type_username" class="layui-form-label">
                        <span class="x-red">*</span>标识码
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="type_username" name="type_username" required="" lay-verify="nikename" value="{$type_username}"
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red"></span>用于小程序端显示(如学号/邮箱等)
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="remark" class="layui-form-label">
                        <span class="x-red">*</span>备注
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="remark" name="remark" required="" lay-verify="nikename" value="{$remark}"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
              
               
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="add" lay-submit="">
                        修改
                    </button>
                </div>
            </form>
          
          
          
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<!-- 中部结束 -->
<script>

        
 </script>

{include file="public/footer" /}


